$auth-bg: $theme-bg !default;

$auth-form-control-color: white !default;
$auth-form-control-placeholder: rgba(white, 0.5) !default;
$auth-form-control-bg: rgba(white, 0.1) !default;
$auth-form-control-border: 0 !default;

$auth-remember-me-color: rgba(white, 0.75) !default;
$auth-remember-me-bg: rgba(black, 0.075) !default;

$auth-login-btn-color: $btn-primary-color !default;
$auth-login-btn-border: $btn-primary-border !default;
$auth-login-btn-bg: $btn-primary-bg !default;
