html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  overflow: hidden;

  color: white;
  background: $auth-bg;

  display: flex;
}

.container {
  margin: auto;
  width: 320px;
}
